:root {
	/* Colors */
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);

	/* Paragraph colors */
	--transparent-white: hsla(0, 0%, 100%, 0.75);

	/* Background, headings, buttons color */
	--very-light-gray: hsl(0, 0%, 95%);

	/* Font family */
	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', cursive;

	/* Animation time */
	--transition-time: 300ms;
}
